.header
    background: url('../media/fondo1.jpg') no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

.header__titulo
    text-align: center
    position: relative     
    z-index: 99

.header__icono 
    position: absolute
    z-index: 99
    bottom: 3%
    left: 45%
    font-size: 60px
    animation: bajar-subir 1s ease infinite

.header__enlace-icono 
    font-weight: 700
    color: orange